<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./src/css/app.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <style>
        td {
            min-width: 50px;
            width: 50px;
            font-size: 40px;
        }

        .d1 {
            background: greenyellow;
        }
        .d2 {
            background: blue;
        }
        .d3 {
            background: orange;
        }
        .d4 {
            background: purple;
        }
        .d5 {
            background: greenyellow;
        }
        .d6 {
            background: red;
        }
    </style>
</head>

<body ng-app="gerrymandApp" ng-controller="gerrymandController" ng-cloak>
    <h3>My Districts</h3>
    <table id="districtinputtable">
        <tr>
            <td id="cell11"><input type="number" ng-model="districts.val.v11"></td>
            <td id="cell12"><input type="number" ng-model="districts.val.v12"></td>
            <td id="cell13"><input type="number" ng-model="districts.val.v13"></td>
        </tr>
        <tr>
            <td id="cell21"><input type="number" ng-model="districts.val.v21"></td>
            <td id="cell22"><input type="number" ng-model="districts.val.v22"></td>
            <td id="cell23"><input type="number" ng-model="districts.val.v23"></td>
        </tr>
        <tr>
            <td id="cell31"><input type="number" ng-model="districts.val.v31"></td>
            <td id="cell32"><input type="number" ng-model="districts.val.v32"></td>
            <td id="cell33"><input type="number" ng-model="districts.val.v33"></td>
        </tr>
        <tr>
            <td id="cell41"><input type="number" ng-model="districts.val.v41"></td>
            <td id="cell42"><input type="number" ng-model="districts.val.v42"></td>
            <td id="cell43"><input type="number" ng-model="districts.val.v43"></td>
        </tr>
        <tr>
            <td id="cell51"><input type="number" ng-model="districts.val.v51"></td>
            <td id="cell52"><input type="number" ng-model="districts.val.v52"></td>
            <td id="cell53"><input type="number" ng-model="districts.val.v53"></td>
        </tr>
        <tr>
            <td id="cell61"><input type="number" ng-model="districts.val.v61"></td>
            <td id="cell62"><input type="number" ng-model="districts.val.v62"></td>
            <td id="cell63"><input type="number" ng-model="districts.val.v63"></td>
        </tr>
    </table>

    <hr />
    <h3>Sample Districts Table</h3>

    <table id="districttable1">
        <tr>
            <td ng-class="districts.class.c11">{{districts.val.v11}}</td>
            <td ng-class="districts.class.c12">{{districts.val.v12}}</td>
            <td ng-class="districts.class.c13">{{districts.val.v13}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c21">{{districts.val.v21}}</td>
            <td ng-class="districts.class.c22">{{districts.val.v22}}</td>
            <td ng-class="districts.class.c23">{{districts.val.v23}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c31">{{districts.val.v31}}</td>
            <td ng-class="districts.class.c32">{{districts.val.v32}}</td>
            <td ng-class="districts.class.c33">{{districts.val.v33}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c41">{{districts.val.v41}}</td>
            <td ng-class="districts.class.c42">{{districts.val.v42}}</td>
            <td ng-class="districts.class.c43">{{districts.val.v43}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c51">{{districts.val.v51}}</td>
            <td ng-class="districts.class.c52">{{districts.val.v52}}</td>
            <td ng-class="districts.class.c53">{{districts.val.v53}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c61">{{districts.val.v61}}</td>
            <td ng-class="districts.class.c62">{{districts.val.v62}}</td>
            <td ng-class="districts.class.c63">{{districts.val.v63}}</td>
        </tr>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="./src/js/gerrymand.js"></script>

</html>