<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./src/css/app.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <style>
        td {
            min-width: 50px;
            width: 50px;
            font-size: 40px;
        }

        .d0 {
            background: whitesmoke;
        }
        .d1 {
            background: greenyellow;
        }
        .d2 {
            background: blue;
        }
        .d3 {
            background: orange;
        }
        .d4 {
            background: purple;
        }
        .d5 {
            background: red;
        }
        .appVersion{
            font-size:14px;
        }
    </style>
</head>

<body ng-app="gerrymandApp" ng-controller="gerrymandController" ng-cloak>
    <h2>Gerrymandering Demo <span class="appVersion">v.{{appVersion}}</span></h2>
    <h3>My Districts</h3>
    <table id="districtinputtable" >
        <tr>
            <td id="cell00"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v00"></td>
            <td id="cell01"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v01"></td>
            <td id="cell02"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v02"></td>
        </tr>
        <tr>
            <td id="cell10"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v10"></td>
            <td id="cell11"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v11"></td>
            <td id="cell12"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v12"></td>
        <tr>
            <td id="cell20"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v20"></td>
            <td id="cell21"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v21"></td>
            <td id="cell22"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v22"></td>
        </tr>
        <tr>
            <td id="cell30"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v30"></td>
            <td id="cell31"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v31"></td>
            <td id="cell32"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v32"></td>
        </tr>
        <tr>
            <td id="cell40"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v40"></td>
            <td id="cell41"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v41"></td>
            <td id="cell42"><input min="{{inputMin}}" max="{{inputMax}}"" type="number" ng-model="districts.val.v42"></td>
        </tr>
        <tr>
            <td id="cell50"><input min="{{inputMin}}" max="{{inputMax}}" type="number" ng-model="districts.val.v50"></td>
            <td id="cell51"><input min="{{inputMin}}" max="{{inputMax}}" type="number" ng-model="districts.val.v51"></td>
            <td id="cell52"><input min="{{inputMin}}" max="{{inputMax}}" type="number" ng-model="districts.val.v52"></td>
        </tr>
    </table>

    <hr />
    <h3>Sample Districts Table</h3>

    <table id="districttable1">
        <tr>
            <td ng-class="districts.class.c00">{{districts.val.v00}}</td>
            <td ng-class="districts.class.c01">{{districts.val.v01}}</td>
            <td ng-class="districts.class.c02">{{districts.val.v02}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c10">{{districts.val.v10}}</td>
            <td ng-class="districts.class.c11">{{districts.val.v11}}</td>
            <td ng-class="districts.class.c12">{{districts.val.v12}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c20">{{districts.val.v20}}</td>
            <td ng-class="districts.class.c21">{{districts.val.v21}}</td>
            <td ng-class="districts.class.c22">{{districts.val.v22}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c30">{{districts.val.v30}}</td>
            <td ng-class="districts.class.c31">{{districts.val.v31}}</td>
            <td ng-class="districts.class.c32">{{districts.val.v32}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c40">{{districts.val.v40}}</td>
            <td ng-class="districts.class.c41">{{districts.val.v41}}</td>
            <td ng-class="districts.class.c42">{{districts.val.v42}}</td>
        </tr>
        <tr>
            <td ng-class="districts.class.c50">{{districts.val.v50}}</td>
            <td ng-class="districts.class.c51">{{districts.val.v51}}</td>
            <td ng-class="districts.class.c52">{{districts.val.v52}}</td>
        </tr>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="./src/js/gerrymand.js"></script>

</html>